::-webkit-scrollbar {
    width: 14px;
    }
    ::-webkit-scrollbar-track {
    background-color: #ffffffd2;
    border-radius: 9px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    }
    ::-webkit-scrollbar-thumb {
    background-color: #0c826a;
    border-radius: 9px;
    }
    .table {
        table-layout: fixed;
        width: 3000px;
      }
    
      .table th,
      .table td {
        padding: 12px 15px;
        text-align: left;
        border-bottom: 1px solid #ddd;
      }
    
      .table thead th {
        background-color: #1abc9c;
        color: #fff;
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
        white-space: nowrap; 
      }
    
      .table tbody tr:nth-child(even) {
        background-color: #f2f2f2;
      }
    
      .table tbody tr:hover {
        background-color: #ddd;
      }
    
      .table caption {
        font-weight: bold;
        font-size: 1.2em;
        margin-bottom: 10px;
      }
      ::selection {
        background-color: #1abc9c; 
        color: #fff; 
      }
      .table-responsive {
        overflow-x: auto;
      }
      table {
        width: 100%;
        word-wrap: break-word;
      }
      th, td {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      th:last-child, td:last-child {
        white-space: nowrap;
      }
      .light-up span {
        animation: lightUp 1.5s infinite;
        animation-fill-mode: forwards;
      }
      
      @keyframes lightUp {
        0%, 100% {
          color: white;
        }
        50% {
          color: yellow;
        }
      }
      
      .light-up span:nth-child(1) { animation-delay: 0s; }
      .light-up span:nth-child(2) { animation-delay: 0.1s; }
      .light-up span:nth-child(3) { animation-delay: 0.2s; }
      .light-up span:nth-child(4) { animation-delay: 0.3s; }
      .light-up span:nth-child(5) { animation-delay: 0.4s; }
      .light-up span:nth-child(6) { animation-delay: 0.5s; }
      .light-up span:nth-child(7) { animation-delay: 0.6s; }
      .light-up span:nth-child(8) { animation-delay: 0.7s; }
      .light-up span:nth-child(9) { animation-delay: 0.8s; }
      .light-up span:nth-child(10) { animation-delay: 0.9s; }
      .light-up span:nth-child(11) { animation-delay: 1s; }
      .light-up span:nth-child(12) { animation-delay: 1.1s; }
      .light-up span:nth-child(13) { animation-delay: 1.2s; }
      footer {
        background-color: #333333;
        color: white;
        padding: 20px 0;
        text-align: center;
    }